target
.settings
bin
tmp

# OS X (Mac)
.DS_Store

# Eclipse
.metadata

plugins/*/launch

plugins/*/lib/*.jar
plugins/*/libsrc/*.jar
plugins/libs/*/lib/*.jar
plugins/libs/*/libsrc/*.jar

tests/*/lib/*.jar
tests/*/lib/jboss*

integration-tests/*/lib/*.jar
integration-tests/*/lib/jboss*
