<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
  <mirrors>
    <mirror>
      <id>jboss-developer-repository-group</id>
      <mirrorOf>*,!jboss-deprecated,!redhat-techpreview-all-repository,!jboss-earlyaccess,!modeshape-in-project,!jboss-snapshots-repository,!eclipse</mirrorOf>
      <name>JBoss.org Developer Repository Group</name>
      <url>https://repository.jboss.org/nexus/content/groups/developer/</url>
    </mirror>
  </mirrors>
  <profiles>
    <!-- Redefine the Maven central repository to enable snapshots.  The url will be replaced by the mirror -->
    <profile>
      <id>jboss-nexus</id>
      <repositories>
        <repository>
          <id>central</id>
          <name>Central repository proxy</name>
          <url>replaced by mirror settings</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </repository>
        <repository>
          <id>nexus-central-repo</id>
          <name>Central repository</name>
          <url>https://repository.jboss.org/nexus/content/repositories/central/</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>replaced by mirror settings</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>nexus-central-repo</id>
          <url>https://repository.jboss.org/nexus/content/repositories/central/</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
    <profile>
      <id>jboss-deprecated</id>
      <repositories>
        <repository>
          <id>jboss-deprecated</id>
          <name>JBoss Deprecated</name>
          <url>https://repository.jboss.org/nexus/content/repositories/deprecated/</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
      </repositories>
    </profile>
    <profile>
            <id>redhat-techpreview-all-repository</id>
            <repositories>
                <repository>
                    <id>redhat-techpreview-all-repository</id>
                    <name>Red Hat Tech Preview repository (all)</name>
                    <url>http://origin-maven.repository.redhat.com/techpreview/all/</url>
                    <layout>default</layout>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                        <updatePolicy>never</updatePolicy>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>redhat-techpreview-all-repository</id>
                    <name>Red Hat Tech Preview repository (all)</name>
                    <url>http://origin-maven.repository.redhat.com/techpreview/all/</url>
                    <layout>default</layout>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                        <updatePolicy>never</updatePolicy>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
	    <profile>
      <id>jboss-public-repository</id>
      <repositories>
        <repository>
          <id>jboss-public-repository-group</id>
          <name>JBoss Public Maven Repository Group</name>
          <url>http://repository.jboss.org/nexus/content/groups/public/</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>jboss-public-repository-group</id>
          <name>JBoss Public Maven Repository Group</name>
          <url>http://repository.jboss.org/nexus/content/groups/public/</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
    <profile>
      <id>jboss-developer-repository</id>
      <repositories>
        <repository>
          <id>jboss-developer-repository-group</id>
          <name>JBoss Developer Maven Repository Group</name>
          <url>http://repository.jboss.org/nexus/content/groups/developer/</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </repository>
      </repositories> 
    </profile>
    <profile>
      <id>jboss-earlyaccess</id>
      <repositories>
        <repository>
          <id>jboss-earlyaccess</id>
          <name>JBoss Early Access</name>
          <url>https://origin-maven.repository.redhat.com/earlyaccess/all/</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
      </repositories>
    </profile> 
    <profile>
      <id>jboss-snapshots-repository</id>
      <repositories>
        <repository>
          <id>jboss-snapshots-repository</id>
          <name>JBoss Snapshots Repository</name>
          <url>https://repository.jboss.org/nexus/content/repositories/snapshots/</url>
          <layout>default</layout>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
    </profile>
    <profile>
      <id>eclipse</id>
      <repositories>
        <repository>
          <id>eclipse</id>
          <name>Eclipse Repository</name>
          <url>https://repo.eclipse.org/content/groups/releases</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
    </profile>
    </profiles>
  <activeProfiles>
    <activeProfile>jboss-nexus</activeProfile>
    <!--<activeProfile>jboss-deprecated</activeProfile>-->
    <activeProfile>redhat-techpreview-all-repository</activeProfile>
    <activeProfile>jboss-public-repository</activeProfile>
    <activeProfile>jboss-developer-repository</activeProfile>
    <activeProfile>jboss-earlyaccess</activeProfile>
    <activeProfile>jboss-snapshots-repository</activeProfile>
    <activeProfile>eclipse</activeProfile>
  </activeProfiles>
</settings>
