*.jj
Teiid*ParserTreeConstants.java
JJTTeiid*ParserState.java
gen/org/teiid/query/parser/v*/JavaCharStream.java
gen/org/teiid/query/parser/v*/ParseException.java
gen/org/teiid/query/parser/v*/Teiid*Parser.java
gen/org/teiid/query/parser/v*/Teiid*ParserConstants.java
gen/org/teiid/query/parser/v*/Teiid*ParserTokenManager.java
gen/org/teiid/query/parser/v*/Token*.java

lib/*
libsrc/*
