<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<fragment>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="org.komodo.eclipse.shell.ui.KomodoConsoleFactory"
            icon="icons/32x32/dragon.png"
            label="Komodo Console">
      </consoleFactory>
   </extension>
   <extension
         id="KomodoShell"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Komodo Shell">
         <property
               name="appName"
               value="Komodo Shell">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.TaskList">
         </view>
         <view
               id="org.komodo.eclipse.sql.ui.editor"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView">
         </view>
      </perspectiveExtension>
   </extension>

</fragment>
