<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC
	"-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>VDB-Builder</display-name>

	<context-param>
		<param-name>webmaster</param-name>
		<param-value>teiid-designer-dev@lists.jboss.org</param-value>
		<description>
			The email address of the mailing list to which questions
			and comments about this application should be addressed.
		</description>
	</context-param>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>vdb-builder</web-resource-name>
			<!--url-pattern>/v1/*</url-pattern-->
			<url-pattern>/*</url-pattern>
			<http-method>DELETE</http-method>
			<http-method>PUT</http-method>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>

		<user-data-constraint>
			<description>Require SSL</description>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>

		<auth-constraint>
			<role-name>user</role-name>
		</auth-constraint>
	</security-constraint>

	<!--
		Swagger Configuration
	-->
	<!--
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>vdb-builder</web-resource-name>
			<url-pattern>/api-docs/*</url-pattern>
		</web-resource-collection>

		<user-data-constraint>
			<description>Require SSL</description>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	-->

	<login-config>
		<auth-method>KEYCLOAK</auth-method>
	</login-config>

	<security-role>
		<role-name>user</role-name>
	</security-role>

</web-app>
